*
    box-sizing: border-box
    padding: 0
    margin: 0

nav
    padding: 0 140px
    height: 70px
    background: #fff
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
    
.menu
    display: flex
    justify-content: space-around
    align-items: center
    padding: 18px 0
    list-style: none
    &_item
        position: relative
    &_link
        display: block
        font-weight: 400
        font-size: 14px
        line-height: 17px
        text-decoration: none
        color: $half_dark_color
        transition: all .5s easy 
        &:hover
            color: #1F2041
.angle_down
    margin-left: 5px

.logo
    margin-right: 285px
.login, .registration
    &_link, &_link
        display: block
        width: 87px
        height: 34px
        padding: 8px 10px
        border: 2px solid $main_color
        border-radius: 22px
        color: $main_color
        font-weight: 700
        font-size: 12px
        line-height: 15px
        text-transform: uppercase
        text-align: center
.registration
    &_link
        width: 196px
        background: $main_gradient_color
        color: #ffffff
        &:hover
            transition: all .5s easy
            background: #9792dd 
            border-color: #9792dd 
.menu_item:hover .dropdown_menu
    display: block
    position: absolute
    left: 0
    top: 100%
    background: transparent 
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
    &_item
        width: 140px
        padding: 5px
    &_link
        cursor: pointer
.dropdown_menu
    display: none
  
.container
    background: #ffffff
    border: 1px solid rgba(0, 0, 0, 0.12)
    box-sizing: border-box
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    padding: 40px 30px 0 30px
    margin: 70px 0 0 140px
    width: 380px
    min-height: 374px
    form
        .details_box
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            .input_box
                background: #ffffff
                margin-top: 21px
                width: calc( 100% / 2 - 20px )
                .details
                    display: block
                    margin-bottom: 5px
                    font-weight: 700
                    font-size: 12px
                    text-transform: uppercase
                    color: $total_dark
                input
                    height: 44px
                    width: 100%
                    border: $frst_quarter_border
                    border-radius: 4px
                    color: $thrd_quarter_color
                    font-weight: 400
                    font-size: 14px
                    line-height: 18px
                    padding: 11px 0 8px 15px
                    text-transform: uppercase
                    cursor: pointer

            .input_visiters
                width: 320px
                .visiters 
                    padding: 13px 0 13px 15px
                    text-transform: none
            .btn
                margin-top: 31px
                &_find
                    height: 44px
                    width: 320px
                    background: $main_gradient_color
                    border-radius: 22px
                    border: none
                    color: #ffffff
                    font-weight: 700
                    font-size: 12px
                    line-height: 15px
                    text-align: center
                    text-transform: uppercase
                    cursor: pointer
                    &:hover
                        transition: all .5s easy
                        background: #9792dd 
                        border-color: #9792dd 



               
    .sidebar_title
        font-weight: 700
        font-size: 24px
        line-height: 29px
        color: $total_dark




            

