*
    box-sizing: border-box
    padding: 0
    margin: 0

nav
    padding: 0 140px
    height: 70px
    background: #fff
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
    
.menu
    display: flex
    justify-content: space-around
    align-items: center
    padding: 18px 0
    list-style: none
    &_item
        position: relative
    &_link
        display: block
        font-weight: 400
        font-size: 14px
        line-height: 17px
        text-decoration: none
        color: $half_dark
        transition: all .5s
        &:hover
            color: #1F2041
.angle_down
    margin-left: 5px

.logo
    margin-right: 285px
.login, .registration
    &_link, &_link
        display: block
        width: 87px
        height: 34px
        padding: 8px 10px
        border: 2px solid $main_color
        border-radius: 22px
        color: $main_color
        font-weight: 700
        font-size: 12px
        line-height: 15px
        text-transform: uppercase
        text-align: center
.registration
    &_link
        width: 196px
        background: $main_gradient_color
        color: #ffffff
        &:hover
            transition: all .5s
            background: #9792dd 
            border-color: #9792dd 
.menu_item:hover .dropdown_menu
    display: block
    position: absolute
    left: 0
    top: 100%
    background: transparent 
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
    &_item
        width: 140px
        padding: 5px
    &_link
        cursor: pointer
.dropdown_menu
    display: none
  
            
       



            

