*
    box-sizing: border-box
    padding: 0
    margin: 0
header
    display: flex
    justify-content: space-around
    align-items: center
    padding: 18px 0
    height: 70px
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
.menu
    list-style-type: none
    &_item
        display: inline-block
    &_link
        font-size: 14px
        font-weight: 400
        line-height: 17px
        color: $half_dark
        text-decoration: none


