doctype html
html(lang="ru") 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='room reservation')
        meta(name='keywords' content='')
        title Toxin отель
        base(href="/")
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
        link(rel='stylesheet' href='src/css/style.css')
    body 
        nav
            ul.menu
                li.menu_item.logo 
                 a.menu_link.logo_link(href='')
                    img(src='/src/icons/logos/logo_main.png' alt='logo Toxin отель')
                li.menu_item
                 a.menu_link(href='') О нас 
                li.menu_item
                  a.menu_link(href='') Услуги 
                   img(src="/src/icons/angle_down.png", alt="angle_down")
                  ul.menu.dropdown_menu
                      li.menu_item.dropdown_menu_item 
                        a.menu_link.dropdown_menu_link expand_more
                      li.menu_item.dropdown_menu_item  
                        a.menu_link.dropdown_menu_link expand_more
                      li.menu_item.dropdown_menu_item  
                        a.menu_link.dropdown_menu_link expand_more
                      li.menu_item.dropdown_menu_item  
                        a.menu_link.dropdown_menu_link expand_more
                li.menu_item
                 a.menu_link(href='') Вакансии
                li.menu_item
                 a.menu_link(href='') Новости
                li.menu_item
                  a.menu_link(href='') Соглашения
                   img(src="/src/icons/angle_down.png", alt="angle_down")
                  ul.menu.dropdown_menu
                      li.menu_item.dropdown_menu_item 
                        a.menu_link.dropdown_menu_link expand_more
                      li.menu_item.dropdown_menu_item  
                        a.menu_link.dropdown_menu_link expand_more
                      li.menu_item.dropdown_menu_item  
                        a.menu_link.dropdown_menu_link expand_more
                      li.menu_item.dropdown_menu_item  
                        a.menu_link.dropdown_menu_link expand_more
                li.menu_item.login_btn
                 a.menu_link.login_link(href='') войти
                li.menu_item.registration_btn
                 a.menu_link.registration_link(href='') зарегистрироваться
            div.hamburger 
                span 
                span 
                span  
        script(src="src/js/index.js")
        