* {
  font-family: Montserrat, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  padding: 0 140px;
  height: 70px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  list-style: none;
}
.menu_link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}
.menu_link:hover {
  color: #1F2041;
}

.logo {
  margin-right: 285px;
}

.login_link, .login_link, .registration_link, .registration_link {
  display: block;
  width: 87px;
  height: 34px;
  padding: 8px 10px;
  border: 2px solid #BC9CFF;
  border-radius: 22px;
  color: #BC9CFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
}

.registration_link {
  width: 196px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #ffffff;
}
.registration_link:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #9792dd;
  border-color: #9792dd;
}